.sidenav{
    position: fixed;
    z-index: 1;
    width: 16rem;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0px 1px 25px rgba(111, 111, 111, 0.086);
}

.sidenav-nav{
    list-style: none;
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    cursor: pointer;
}

.sidenav-nav-item{
    width: 100%;
    margin-bottom: 0.6rem;
}

.sidenav-nav-link{
    display: flex;
    align-items: center;
    height: 3rem;
    color: #000;
    text-decoration: none;
    border-radius: 0.60rem;
    transition: color 0.3s ease;
    justify-content: flex-start;
}

.sidenav-nav-icon{
    font-size: 25px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
    
}

.sidenav-link-text{
    margin-left: 1.5rem;
    font-weight: 500;
    font-size: 15px;
}


.sidenav-nav-link:hover{
    border-radius: 5px;
    background: #ffd875;
    box-shadow:  5px 5px 20px #f0f0f0,
             -5px -5px 20px #ffffff;
}

.active{
    background-color: #FFCD4E;
}


.logo-container{
    display: flex;
    height: 100px;
    align-items: center;
    padding-left: 30px;
}

.logo-container img{
    padding-top: 30px;
    width: 150px;
}




