.contenedor{
    padding: 30px;
    background-color: #FCFCFC;
}

.tasks{
    display: flex;
    justify-content: space-between;
}

.box{
    background: white;
    width: 250px;
    height: 290px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    border-radius: 17px;
    align-items: center;
    box-shadow: 0px 1px 25px rgba(58, 58, 58, 0.086);
    gap: 20px;
}
.box:first-child{
    background-color:  #FFCD4E;
}

.box h3{
    font-size: 20px;
}

.box button{
    font-size: 20px;
    color: black;
    background: #FFCD4E;
    border: none;
    padding: 12px 25px;
    border-radius: 28px;
}


.shop-basic-info{
    display: flex;
    justify-content: space-around;
    background-color: #FFCD4E;
    border-radius: 17px;
    padding: 17px 0px;
    align-content: center;
    margin-top: 40px;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.086);

}

.shop-basic-info h3{
   margin: 0;
}

.shop-basic-info button{
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 16px;
 }