<section class="contenedor">
    <div class="bienvenida">
        <h2>Hola <strong>Jhayro</strong></h2>
        <p>Empieza ahora, estas son las primeras tareas que tienes pendientes</p>
    </div>
    <div class="tasks">
        <div class="box">
            
        </div>
        <div class="box">
            <h3>Crea tu primer producto</h3>
            <img src="../../../assets/img/image 2.png" alt="">
            <button>Crea</button>
        </div>
        <div class="box">
            <h3>Personaliza tu Tienda</h3>
            <img src="../../../assets/img/Shop.png" alt="">
            <button>Personaliza</button>
        </div>
    </div>
    <div class="shop-basic-info">
        <h3><strong>Url de Tienda:</strong> ferreshop.com/tienda/tindajhayro</h3>
        <button>Compartir</button>
    </div>


    <div class="info-business">
        <div class="card">
            
        </div>
        <div class="card">

        </div>
        <div class="card">

        </div>
        <div class="card">

        </div>
        <div class="card">

        </div>
        <div class="card-2">

        </div>
    </div>
</section>
