<app-navbar></app-navbar>
<section class="banner">
    <div class="info-banner">
        <h1 class="font1" >Administra todos tus productos</h1>    
        <p class="font1" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil odio veniam dolore, ipsa quis commodi corporis labore perferendis consequuntur excepturi! In rem pariatur dicta nobis beatae nostrum minus sed corrupti.</p>
        <div class="btn-app">
            <button mat-button class="btn-login font1">Conocer mas</button>
            <button mat-button class="btn-register font1" routerLink="/register">Registrate</button>
        </div>
        <div class="conters">
            <div class="mini-car1">
                <h4 class="font1" >100+</h4>
                <h5 class="font1" >Productos administrados</h5>
            </div>
            <div class="mini-car2">
                <h4 class="font1">200+</h4>
                <h5 class="font1">Productos administrados</h5>
            </div>
            <div class="mini-car3">
                <h4 class="font1">50+</h4>
                <h5 class="font1">Clientes Satisfechos</h5>
            </div>
        </div>
    </div>
    <div class="img-banner">
        <img src="../../../assets/img/Group 12.png" alt="">
    </div>
</section>