.contenedor{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 height: 12vh;
 background-color:#fefefe;
 border-bottom: 1px  solid black;
}

.perfil-btn{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    align-content: center;
}

.perfil-btn h3{
    margin: 0px;
}